{%- set parent = types[cls.parent] if cls.parent else None -%}
{% if parent != None -%}
from {{parent.package}} import {{parent.name}}
{%- else -%}
from com.ankamagames.dofus.network.messages.NetworkMessage import NetworkMessage{% endif %}
{%- for field in cls.vars -%}
{%- if field.pytype not in primitives %}
from {{types[field.pytype].package}} import {{field.pytype}}{% endif %}
{%- endfor %}


class {{cls.name}}({% if parent != None %}{{parent.name}}{% else %}NetworkMessage{% endif %}):
    protocolId = {{cls.protocolId}}
    {% for field in cls.vars -%}
    {{field.name}}:{%if field.length != None%}list[{{field.pytype}}]{% else %}{{field.pytype}}{% endif %}{% if field.optional %} = None{% endif %}
    {% endfor %}

