{%- set parent = types[cls.parent] if cls.parent else None -%}
{% if parent != None -%}
from {{parent.package}} import {{parent.name}}
{%- else -%}
from com.ankamagames.dofus.network.messages.NetworkMessage import NetworkMessage{% endif %}
{%- for field in cls.fields -%}
{%- if field.typename not in primitives %}
from {{types[field.typename].package}} import {{field.typename}}{% endif %}
{%- endfor %}


class {{cls.name}}({% if parent != None %}{{parent.name}}{% else %}NetworkMessage{% endif %}):
    protocolId = {{cls.protocolId}}
    {% for field in cls.fields -%}
    {{field.name}}:{%if field.length != None%}list[{{field.typename}}]{% else %}{{field.typename}}{% endif %}
    {% endfor %}
    {%- for field in cls.boolfields -%}
    {{field.name}}:{{field.typename}}
    {% endfor %}
    

